body {
    font-size: 30pt;
    text-align: center;
}

div {
    margin: 25px;
}

#amount {
    width: 190px;
    height: 80px;
    font-size: 45px;
    text-align: center;
    border: none;
    border-bottom: 3px solid black;
}

#mainPanel {
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.plusMinusButton {
    width: 100px;
    height: 500px;
    font-size: 50px
}

#keypad {
    font-size: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
}

.key {
	padding: 10px 30px;
	border: 1px solid black;
	border-radius: 65px;
}

#histories {
	display: flex;
	justify-content: center;
	align-content: center;
}

#plusHistoryTable {
    margin-left: 100px;
}

#minusHistoryTable {
    margin-right: 100px;
}

#buttonDelete {
    font-size: 60px;
}

#restoreState {
    height: 50px;
    width: 50px;
}