body {
    font-size: 30pt;
    text-align: center;
}

div {
    margin: 25px;
}

#amount {
    width: 100px;
    height: 40px;
    font-size: 25px;
}

#mainPanel {
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.plusMinusButton {
    width: 100px;
    height: 500px;
    font-size: 50px
}

#keypad {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#histories {
	display: flex;
	justify-content: center;
	align-content: center;
}

#plusHistoryTable {
    margin-left: 100px;
}

#minusHistoryTable {
    margin-right: 100px;
}

#buttonDelete {
    font-size: 60px;
}

#restoreState {
    height: 50px;
    width: 50px;
}