body {
	text-align: center;
	
	font-size: 70pt;

	background-image: linear-gradient(to bottom left, #ddf, #cee);
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

#total {
	font-size: 1.5em;
	margin: 2vw;
}

#input-field {
	width: 30vw;
	height: 5vw;
	
	vertical-align: middle;
}

.plus-minus-button {
	margin: 0 5vw;
	
	width: 15vw;
	height: 15vw;
}

#keypad {
	font-size: 1.75em;
}

.key {
	margin: 100px !important;
	padding: 2vw;
	
	border: 1px solid black;
	border-radius: 75px;
}

#backspace {
	font-size: .75em;
	font-weight: 1000;
	
	padding: 0;
}