body {
	text-align: center;
	
	font-size: 20pt;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	background-image: linear-gradient(to bottom left, #ddf, #cee);
}

.row, .key, #backspace, #histories, #button-column {
	display: flex;
	justify-content: center;
	align-items: center;
}

#total {
	font-size: 1.5em;
	margin: 5vw 0 .5vw 0;
	
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#input-field {
	width: 40vw;
}

#percent-field {
	display: none;
}

#input-field, #percent-field.active {
	display: block;
	
	height: 10vw;
	
	margin: 3vw 0;
	
	font-size: 1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
	border: none;
	border-radius: 3vw;
	background-color: white;
	
	vertical-align: middle;
	text-align: center;
}

#percent-field.active {
	width: 20vw;
	background-color: #efe;
}

.plus-minus-button {
	margin: 1vw 7.5vw 0 7.5vw;
	
	width: 10vw;
	height: 40vw;
	
	background-color: aliceblue;
	border-radius: 75px;
	border: none;
	
	font-size: 1.5em;
}

#minus-button {
	float: left;
}

#button-column {
	float: right;
	flex-direction: column;
}

#percent-button {
	justify-content: center;
	align-items: center;
	text-align: center;
	
	height: 20vw;
	
	padding: 0;
	
	font-size: 1em;
	font-weight: 1000;
}

#keypad {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.key {
	margin: 1vw;
	
	width: 16vw;
	height: 20vw;
	
	background-color: aliceblue;
	border-radius: 75px;
	
	font-size: 1.75em;
}

#backspace {
	font-size: 1.35em;
	font-weight: 1000;
}

#reset-button {
	width: 9vw;
	height: 9vw;
	
	margin-bottom: 2vw;
	
	border: none;
	border-radius: 4.5vw;
	
	background-color: #FFDDA0;
	
	font-size: .25em;
	font-weight: 700;
	
}

#histories {
	align-items: flex-start;
	justify-content: space-between;
	
	margin: 0 auto;
	padding: 1vw 5vw;
	
	width: 65vw;
	height: 100vw;
	background-color: whitesmoke;
	border-radius: 5vw;
}

li {
	list-style: none;
}